*{
  box-sizing: border-box;
}

body {
  background:radial-gradient(#18ad31, #fff) fixed;
  font-family: 'Pangolin', cursive;
  margin-top: 50px;
}

header {
  background: #18ad3155;
  align-items: center;
  border: 5px solid blueviolet;
  border-radius: 20px; 
}

img#title {
  max-height: 150px;
  margin: 20px 50px; 
}

h1 {
  color: blueviolet;
  font-size: 80px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 35%;
}

main {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
  
h2 { 
  font-size: xx-large;
  margin-bottom: 20px;
}

#image-likes {
  float: left;
  width: 13%;
  margin-right: 3%;
  margin-left: 2%;
  padding: 10px;
  border: 2px solid black;
}

h2#choose {
text-align: center;
margin-top: 30px;
}

#all-images {
  width: 80%;
  float: left;
}

figure {
  width: 33%;
  height: 400px;
  float: left;
  padding: 20px;
  text-align: center;
}

img#left-image-img, #center-image-img, #right-image-img {
  /* lots of different strategies to handle differently sized images */
  width: 100%;
  object-fit: contain;
  height: 400px;
  border: 3px solid blue;
}

figcaption {
  font-size: x-large;
  margin-top: 20px;
}

/* p#main {
  background-color: red;
  display: block;
  font-size: x-large;
  margin-top: 50px;
  z-index: -1;
} */

canvas {
  position: relative;
  margin-top: 500px;
}



/* footer {
  position: relative;
  top: 50px;
  width: 70%;
  text-align: center;
} */

